[submodule "zsh/.zprezto"]
	path = zsh/.zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "zsh/custom/zaw"]
	path = zsh/custom/zaw
	url = https://github.com/zsh-users/zaw.git
[submodule "zsh/z_cd_jumper"]
	path = zsh/z_cd_jumper
	url = https://github.com/rupa/z.git
[submodule "zsh/custom/berkshelf"]
	path = zsh/custom/berkshelf
	url = https://github.com/shengyou/berkshelf-zsh-plugin.git
